@{
    Layout="/Shared/_Layout.cshtml";
}

<h3 class="center-align">@Model.GetName()</h3>

<h4  class="center-align">Update Band Name</h4>
<form class="center-align" action="/band/update/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="band-id" value="@Model.GetId()">
    <label for="band-name">New Band Name:</label>
    <input type="text" name="band-name">
    <button type="submit" name="button">Update Band</button>
</form>

<h4 class="center-align">Delete Band</h4>
<form action="/band/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Band</button>
</form>
